<footer class="border border-t border-gray-800">
	<div class="container mx-auto text-sm px-4 py-6 flex items-center w-full flex-wrap md:justify-center justify-start">
		Made with ❤️ by <a
			href="https://www.myzyq.com"
			target="_blank"
			class="underline hover:text-gray-300">&nbsp;AnyAsk&nbsp;</a
		> — Powered by <a
			href="https://astro.build"
			target="_blank"
			class="underline hover:text-gray-300">&nbsp;Astro&nbsp;</a
		>.




	</div>
</footer>
